<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Find Groups
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="group_chat" style="align-content: center; text-align: center;">
    <div class="row">
      <div class="column" style="float: left;">
        left group
      </div>
      <div class="column" style="position: static;">
        middle group
      </div>
      <div class="column" style="float: right;">
        right group
      </div>
    </div>

  </div>
  <div id="direct_message" style="align-content: center;">

  </div>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

</ion-content>
