<style>
  .column {
  float: left;
  width: 33.33%;
  align-content: center;
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #8b5861;
  position: relative;
  left: 35%;
}


.dm_row {
  text-align: center;
  position: relative;
  padding: 1%;
  background-color: #865e65;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
}

</style>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Find Groups
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="group_chat" style="align-content: center; text-align: center;">
    <div class="row">
      <div class="column" style="width: 33.3%">
        <div class="circle" ></div>
        D&D Squad!!
      </div>
      <div class="column" style="width: 33.3%;">
        <div class="circle"></div>
        My Homies
      </div>
      <div class="column" style="width: 33.3%">
        <div class="circle"></div>
        Boise Bros
      </div>
    </div>
  </div>
  <div id="direct_message" style="align-content: center;">
    <div class="dm_row">
      Abby B
    </div>
    <div class="dm_row">
      Maddie S
    </div>
    <div class="dm_row">
      David J
    </div>
    <div class="dm_row">
      Jacob T
    </div>
  </div>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

</ion-content>
