<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id = "profile_container" style="align-content: center; text-align: center;">
    <div id = "bio">
      <h1>this is a header. i am a stock image magic man</h1>
      <img src="\assets\images\depositphotos_58821697-stock-photo-magic-man.jpg" alt="hello. i am the magic man" style="width: 15%;">
      <p>this is my bio. learn all about my magic spells</p>
      photos
    </div>
    <div id = "photos">
      <img src="\assets\images\depositphotos_82284502-stock-photo-magician-hands-with-magic-wand.jpg" alt="maaaaagic" style="width: 15%;">
    </div>
  </div>
  <div id = "messages">

  </div>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

</ion-content>
