<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id = "feed" style = "align-content: center;">
    
    <div id = "post" style = "text-align: center;">
      <h1></h1>
      <p></p>
      <img src="\assets\images\SS_text.png" alt="stock image">
    </div>

    <div id = "post" style = "text-align: center;">
      <h1></h1>
      <p></p>
      <img src="\assets\images\CT_text.png" alt="stock image">
    </div>

    <div id = "post" style = "text-align: center;">
      <h1></h1>
      <p></p>
      <img src="\assets\images\JS_text.png" alt="stock image">
    </div>
    <div id = "post" style = "text-align: center;">
      <h1></h1>
      <p></p>
      <img src="\assets\images\RM_text.png" alt="stock image">
    </div>
    <div id = "post" style = "text-align: center;">
      <h1></h1>
      <p></p>
      <img src="\assets\images\MJ_text.png" alt="stock image">
    </div>
    <div id = "post" style = "text-align: center;">
      <h1></h1>
      <p></p>
      <img src="\assets\images\TH_text.png" alt="stock image">
    </div>
  </div>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

</ion-content>
